@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
}


/*Alt innhold innenfor body*/
body {
    background-color: rgb(223, 223, 223);   
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    line-height: 1.45;
}




/*Styling av teksten for forsiden*/

body h1 {
    text-align: center;
    font-size: 40px;
}

/*Slutt på styling av teksten for forsiden*/


/*GRID/FLEX innhold*/

#div-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 11.5vh auto 10vh;
    min-height: 100vh;
}

#div-container header{
    grid-column-start: 1;
    grid-column-end: 3;
}






/*Slutt på GRIDD/FLEX innhold*/

/*Styling for header og alt innenfor*/

header {
    background-image: url(../image/background-img.webp);
    background-color: black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}

header nav #nav-options{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    
}

#div-container header nav #nav-options #logo {
    display: flex;
    justify-content: start;
    margin-left: 1rem;    
}

#div-container header nav #nav-options #logo a img:hover {
    background-color: unset !important;
}


#div-container header nav #nav-options #logo img {
    height: 15%;
    width: 20%;
}


nav ul {
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}


header nav ul li {  
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

nav ul li a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
    transition: 0.3s;
    font-size: 28px;
}


 
/*
jeg lagde navigasjonsbaren med hjelp fra denne youtbe videoen: https://www.youtube.com/watch?v=DEag8l7GcCE&ab_channel=LaurenceSvekis 
*/

/*Slutt på Styling for header og alt innenfor*/

/*Alt av styling innenfor main taggen*/

    main {
        text-align: center;
        display: grid;
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        font-size: 25px;
        margin: 0;
    }
    




    main a {
        text-decoration: underline;
        color: blue;
    }

 
    main #UU {
        grid-column: 1;
        grid-row: 2;
        margin: 1rem;
    }
    main #UU img {
        width: 300px;
        height: 300px;
    }

    main #cms {
        grid-column: 2;
        grid-row: 2;
        margin: 1rem;
    }

    main #cms img {
        width: 300px;
        height: 300px;
    }

    main #analyse {
        grid-column: 3;
        grid-row: 2;
        margin: 1rem;
    }

    main #analyse img {
        width: 300px;
        height: 300px;
    }


    /*Analyse innhold*/

    
    

    main #table {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }

   main #table div {
    margin:0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 610px;
    height: auto;
   }

   main #table div img  {
    width: 100%;
    height: 77%;
   }

   

   main #table #analytic-1 {
    text-decoration: underline;
    width: 100%;
    height: 100px;
   }

   main #table #analytic-5 {
    text-decoration: underline;
    width: 100%;
    height: 100px;
   }
   
   main #table #analytic-9 {
    text-decoration: underline;
    width: 100%;
    height: 100px;
   }

   main #table #analytic-14 {
    text-decoration: underline; 
    width: 100%;
    height: 100px;
   }

   main #table #analytic-18 {
    text-decoration: underline; 
    width: 100%;
    height: 100px;
   }

   main #table #analytic-22 {
    text-decoration: underline; 
    width: 100%;
    height: 100px;
   }

   main #table #analytic-34 {
    text-decoration: underline; 
    width: 100%;
    height: 100px;
   }

   main #table #analytic-35 {
    text-decoration: underline; 
    width: 100%;
    height: 100px;
   }


   main #tilgjengelighetserklæring  {
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;
   }

   main #tilgjengelighetserklæring  div {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 45%;
    height: auto;
   }

   main #tilgjengelighetserklæring p {
    margin: 1rem;
   }

  main #tilgjengelighetserklæring #ev-1 {
    margin-top: 5rem;
    width: 100%;
    height: 100px;
    text-decoration: underline;
  }

    
    /*Slutt på analyse*/



/*Slutt på alt innhold innenfor main taggen*/


/*====================Kontakt oss siden=========================*/

#kontakt-oss {
    display: flex;
    flex-direction: row;
    grid-template-columns: 2;
    border: 2px solid black;
    background-color: lightgray;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#kontakt-oss iframe {
    width: 50%;
    margin: 1rem;
}

#kontakt-oss .contact-form {
    width: 50%;
    margin: 1rem;
}

input[type=text], select, textarea {
    width: 100%;                                    /*Kontakt oss skjema css'en er hentet fra https://www.w3schools.com/howto/howto_css_contact_form.asp*/
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
}





/*==============================================================*/


    /*Alt innhol relatert til footer*/

    footer {
        display: grid;
        width: 100%;
        height: 100%;
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: black;
    }

    footer #footer-items {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer p {
        font-size: 30px;
        justify-self: right;
        color: white;
        grid-row: 1;
        grid-column: 2;
        margin-right: 1rem;
    }

    footer a {
        background-color: white;
        font-size: 23px;
        color: black;
        text-decoration: none;
        padding: 0.3rem;
        border: 2px solid gray;
    }

    footer a:hover {
        font-size: 24px;
        transition: 0.2s;
    }

    main p #socials {
        color: blue;
    }

   


    /*Slutt på alt innhold relatert til footer*/

/*Slutt på alt innhold innenfor body*/


/* Styling for main og tables in cms delen av oppgaven*/

#table-container {
    display: grid;
    border: 1px solid black;
    margin: 5rem;
    background-color: white;
}

#table-container p {
    margin: 2rem;
    font-size: 20px;
}

#table-container b {
    font-size: 25px;
}

#div-1 {
    grid-column: 1;
    grid-row: 1;
}

#div-2 {
    grid-column: 2;
    grid-row: 2;
    border: 2px solid black;;
}

#div-3 {
    grid-column: 3;
    grid-row: 2;
    border: 2px solid black;;
}

#div-4 {
    grid-column: 4;
    grid-row: 2;
    border: 2px solid black;;
}
#div-5 {
    grid-column: 1;
    grid-row: 3;
    border: 2px solid black;;
}
 #div-6 {
    grid-column: 1;
    grid-row: 4;
    border: 2px solid black;
 }

 #div-7 {
    grid-column: 1;
    grid-row: 5;
    border: 2px solid black;
 }

 #div-8 {
    grid-column: 2;
    grid-row: 3;
    border: 2px solid black;
 }

 #div-9 {
    grid-column: 3;
    grid-row: 3;
    border: 2px solid black;
 }

 #div-10 {
    grid-column: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    border: 2px solid black;
 }

 #div-11 {
    grid-column: 2;
    grid-row: 4;
    border: 2px solid black;
 }

 #div-12 {
    grid-column: 3;
    grid-row: 4;
    border: 2px solid black;
 }



 #div-14 {
    grid-column: 2;
    grid-row: 5;
    border: 2px solid black;
 }

 #div-15 {
    grid-column: 3;
    grid-row: 5;
    border: 2px solid black;
 }


/*CMs slutt*/

@media screen and (max-width: 1500px) and (min-width: 751px) {

    header {
        width: 100%;
        height: 12rem;
    }

    #div-container header nav ul {
        display: flex;
        flex-direction: row;
    }

    #div-container header nav ul li {
        margin: 1rem;    
    }
    
    #div-container header nav #nav-options #logo a:hover {
        font-size: 25px;
    }

    header nav ul li a {
        margin: 0;
        float: right;
    }

    #div-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100vw;
    }

    #div-container main {
        display: flex;
        flex-direction: column;
    }

    footer p {
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    main #tilgjengelighetserklæring div {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    main #table div {
        width: 100%;
    }
    
}

@media screen and (max-width: 750px) and (min-width: 200px) { 
    header {
        height: 17rem;
        width: 100vw;
    }

    #div-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100vw;
    }

   #div-container main h1 {
        margin: 0;
        font-size: 30px;
   }


    #div-container main {
        display: flex;
        flex-direction: column;
        background-color: rgb(223, 223, 223);
    }


    #div-container header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
    }

    #div-container header nav ul li {
        margin: 0;
    }

    #div-container header nav #nav-options #logo {
        display: flex;
        justify-content: center;
        display: none;
    }

    footer {
        height: 4.5rem;
        margin-bottom: 0;
    }

    footer p {
        font-size: 20px;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }

    footer a {
        font-size: 20px;
    }

    main #tilgjengelighetserklæring div {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    main #table div {
        width: 100%;
    }
  }