@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
}


/*Alt innhold innenfor body*/
body {
    background-color: rgb(223, 223, 223);   
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    line-height: 1.45;
    
}




/*Styling av teksten for forsiden*/

body h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 2rem;
}

/*Slutt på styling av teksten for forsiden*/


/*GRID/FLEX innhold*/

#div-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#div-container header{
    grid-column-start: 1;
    grid-column-end: 3;
}

#div-container main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}




/*Slutt på GRIDD/FLEX innhold*/

/*Styling for header og alt innenfor*/

header {
    background-image: url(../image/background-img.webp);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}

header nav #nav-options{
    display: flex;
    align-items: center;
    float: right;
    width: 100%;
    justify-content: space-between;
    
}

#div-container header nav #nav-options #logo {
    display: flex;
    justify-content: start;
    width: 20%;
    margin-left: 1rem;    
}

#div-container header nav #nav-options #logo a:hover {
    background-color: unset !important;
}


#div-container header nav #nav-options #logo img {
    height: 140px;
    width: 150px;
}


nav ul {
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}


header nav ul li {  
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

nav ul li a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
    transition: 0.3s;
    font-size: 28px;
}


 
/*
jeg lagde navigasjonsbaren med hjelp fra denne youtbe videoen: https://www.youtube.com/watch?v=DEag8l7GcCE&ab_channel=LaurenceSvekis 
*/

/*Slutt på Styling for header og alt innenfor*/

/*Alt av styling innenfor main taggen*/

    main {
        text-align: center;
        display: grid;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        font-size: 25px;
    }


    main h1 {
        grid-column: 2;
        margin: 10%;
    }


    main a {
        text-decoration: underline;
        color: orange
    }

    main a:hover {
        font-size: 40px;
        transition: 0.3s;
    }

    main #UU {
        grid-column: 1;
        grid-row: 2;
        margin: 1rem;
    }
    main #UU img {
        width: 300px;
        height: 300px;
    }

    main #cms {
        grid-column: 2;
        grid-row: 2;
        margin: 1rem;
    }

    main #cms img {
        width: 300px;
        height: 300px;
    }

    main #analyse {
        grid-column: 3;
        grid-row: 2;
        margin: 1rem;
    }

    main #analyse img {
        width: 300px;
        height: 300px;
    }

    main #cms-article {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
    }

    main #cms-article article {
        border: 2px solid black;
        width: 90%;
        background-color: white;
    }

    main #cms-article article a {
        color: blue;
        text-decoration: none;
        font-size: unset !important;
    }


    main #cms-article article h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 60px;
    }



/*Sluttp på alt innhold innenfor main taggen*/


    /*Alt innhol relatert til footer*/

    footer {
        display: grid;
        width: 100%;
        height: 10%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
        background-color: black;
        margin-top: 100%;
    }


    footer p {
        font-size: 30px;
        justify-self: right;
        color: white;
        margin: 20px;
    }

    footer a {
        background-color: white;
        font-size: 23px;
        color: black;
        text-decoration: none;
        padding: 0.3rem;
        border: 2px solid gray;
    }

    footer a:hover {
        font-size: 24px;
        transition: 0.2s;
    }

    main p #socials {
        color: blue;
    }


    /*Slutt på alt innhold relatert til footer*/

/*Slutt på alt innhold innenfor body*/


/* Styling for main og tables in cms delen av oppgaven*/

#table-container {
    display: grid;
    border: 1px solid black;
    margin: 5rem;
    background-color: white;
}

#table-container p {
    margin: 2rem;
    font-size: 20px;
}

#table-container b {
    font-size: 25px;
}

#div-1 {
    grid-column: 1;
    grid-row: 1;
}

#div-2 {
    grid-column: 2;
    grid-row: 2;
    border: 2px solid black;;
}

#div-3 {
    grid-column: 3;
    grid-row: 2;
    border: 2px solid black;;
}

#div-4 {
    grid-column: 4;
    grid-row: 2;
    border: 2px solid black;;
}
#div-5 {
    grid-column: 1;
    grid-row: 3;
    border: 2px solid black;;
}
 #div-6 {
    grid-column: 1;
    grid-row: 4;
    border: 2px solid black;
 }

 #div-7 {
    grid-column: 1;
    grid-row: 5;
    border: 2px solid black;
 }

 #div-8 {
    grid-column: 2;
    grid-row: 3;
    border: 2px solid black;
 }

 #div-9 {
    grid-column: 3;
    grid-row: 3;
    border: 2px solid black;
 }

 #div-10 {
    grid-column: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    border: 2px solid black;
 }

 #div-11 {
    grid-column: 2;
    grid-row: 4;
    border: 2px solid black;
 }

 #div-12 {
    grid-column: 3;
    grid-row: 4;
    border: 2px solid black;
 }



 #div-14 {
    grid-column: 2;
    grid-row: 5;
    border: 2px solid black;
 }

 #div-15 {
    grid-column: 3;
    grid-row: 5;
    border: 2px solid black;
 }


/*CMs slutt*/

/*
@media only screen and (max-width: 1000px) {

    
    #div-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #div-container main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


    #div-container header nav ul li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
    }

    
  #div-container header nav ul #logo img {
    height: 100px;
    width: 110px;
    margin-top: 1rem;
}



}



@media only screen and (max-width:800px) {


    main h2 {
        margin-top: 2rem;
    }

    #div-container {
        display: flex;
        margin: 0;
    }

    #div-container main {
        display: flex;
        flex-direction: column;
        background-color: rgb(223, 223, 223);
    }


    #div-container header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 10px;
    }

    #div-container header nav #nav-options #logo {
        display: flex;
        justify-content: center;
        margin-bottom: -30px;
    }

}


*/