nav {
    width:  100%;
    height: 100%;
    background-color: lightblue;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 40px;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 470;
}